.button-main {
    padding: 8px 16px;          
    border-radius: 6px;        
    background-color: #800000; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 16px;             
  }
  
  .button-main:hover {
    background-color: #660000;  
  }
  