git push -u origin main.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
    transform: scale(0);
    animation: scaleUpDown 1.4s ease-in-out infinite;
}

.overlay {
    position: fixed;
    inset: 0;              
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.3); 
  }

.dot:nth-child(1) {
    animation-delay: 0s;
}
.dot:nth-child(2) {
    animation-delay: 0.2s;
}
.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes scaleUpDown {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}